<IfModule mod_rewrite.c>
 
DirectoryIndex index.html start.php index.php 
RewriteEngine on
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteRule ^(.*)$ start.php?s=/$1 [QSA,PT,L]
</IfModule>